body
	text-align center
	
	//padding: 50px
	
	font-family: sans-serif
	font: 14px
	




a
	color: #F10D0D
	
h1 
	color #4FFFF3 
	font-family: 'Pacifico',sans-serif
h2
	color white
	font-family: 'Lato', sans-serif
p
	color #214A4D

#contenedorControles
	background #153741
	color #D7E9F6
	margin auto 
	box-shadow 1px 1px 20px #4FFFF3
	width 70%
	border 1px solid #4FFFF3
	text-align center 
	padding 0.5em 
	border-radius 10px 
		
.itemMove2
		//border 1px solid blue
		margin-bottom 1em 
		margin-top 1em 
		padding-top 0.5em 
		padding-bottom  0.5em 
		width 10%

.itemMove 
		text-align center
		border-left 1px solid #ccc
		border-right 1px solid #ccc
		margin-left 0em 
		margin-right 0em 
		padding-left 0.5em 
		padding-right 0.5em 
		text-align center
		display  inline-block 
		vertical-align  top
		color: #D7E9F6
		
		
		div 
			margin auto 
			padding-bottom 1em 
			
		 .tituloOpcion 
			font-size 1.2em 
			margin-bottom 1em 
			display inline-block 
					
.itemMove:last-of-type
		background #45DDD2
		border-left 1px solid white
		border-right 1px solid white
		margin: auto
		color: #011922


.automatic
	margin auto;
	border 1px solid #F4F4F4;
	background #C4FFFB;
	padding 0.5em;
	width 10em;
	border-radius 10px;
	cursor pointer;
	color: #011922;

	
.automatic:hover 
	 background black
	 color: #D7E9F6
 

.automatic2
	margin auto;
	border 1px solid #F4F4F4;
	background #CDC8E8;
	padding 0.5em;
	width 10em;
	border-radius 10px;
	cursor pointer; 
	color: #011922;
.automatic2:hover 
	 background black
	 color: #D7E9F6

.automatic3
	margin auto;
	border 1px solid #F4F4F4;
	background #FF79A0;
	padding 0.5em;
	width 10em;
	border-radius 10px;
	cursor pointer;
	color: #011922;
.automatic3:hover 
	 background black
	 color: #D7E9F6


.automatic4
	margin auto;
	border 1px solid #F4F4F4;
	background #D9ABFF;
	padding 0.5em;
	width 10em;
	border-radius 10px;
	cursor pointer;
	color: #011922;
.automatic4:hover 
	 background black
	 color: #D7E9F6

.automatic1
	margin auto;
	border 1px solid #F4F4F4;
	background #CDC8E8;
	padding 0.5em;
	width 10em;
	border-radius 10px;
	cursor pointer; 
	color: #011922;
.automatic1:hover 
	 background black
	 color: #D7E9F6



